/* html {
  background: 
    repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/5000px 5000px,
    repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/5000px 5000px;
  background-blend-mode: difference;
  animation: b .1s infinite alternate;
}
@keyframes b {
  100% {background-position: 50% 0, 60% 50%}
} */

@import "https://unpkg.com/open-props/durations.min.css";

/* 
  typed a length for size interpolation
  initial value is part of the hack at a super
  small subpixel value
*/
@property --lines {
  syntax: "<length>";
  inherits: false;
  initial-value: 0.00010px;
}

/* 
  ping/pong animation 
  change value to change speed
  faster = more sub pixels to transition
*/
@keyframes liner {
  50% {
    --lines: 0.00012px;
  }
}

@layer demo {
  .noise {
    /* animate the length custom property */
    animation: liner var(--hour) linear infinite;
    
    /*
      repeating sub pixel radial hard stop lines
      creates thousands, so small they distort
      use this distortion as a mask
      the hard stops are basically on/off lines
    */
    mask: repeating-radial-gradient(
      circle at center,
      #000,
      var(--lines),
      #000,
      0,
      #0000,
      calc(var(--lines) * 2),
      #0000 0
    );
  }
}

@media (prefers-color-scheme: light) {
  @layer demo {
    .noise {
      mask: repeating-radial-gradient(
        circle at center,
        #000,
        var(--lines),
        #000,
        0,
        #6666,
        calc(var(--lines) * 2),
        #6666 0
      );
    }
  }
}

@layer demo.gradient-text {
  .noise {
    --space:;
    @supports (background: linear-gradient(in oklch, #000, #000)) {
      --space: in oklch;
    }
    
    display: grid;
    place-content: center;
    
    h1 {
      background-image: linear-gradient(
        to right var(--space), 
        deeppink, red
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    @media (prefers-color-scheme: light) {
      -webkit-background-clip: text;
    }
  }
}

@layer demo.support {
  html {
    color-scheme: dark light;
  }

  body {
    font-family: 'Open Sans', system-ui, sans-serif;

    display: grid;
  }
  
}

body {
  margin: 0 auto;   
  padding: 5vh 5vw;
  max-width: 1050px;
  font-family: 'Open Sans';
}

header {
  text-align: center;;
}

img {
  width: 300px;
    
  @media (prefers-color-scheme: dark) {
    filter: brightness(9);
  }
}

p {
  font-size: 1.5em;
}
